# =========================
# Operativsystem (macOS & Windows)
# =========================
.DS_Store
Thumbs.db


.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.db
*.opendb
*.sqlite

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


bin/
obj/
TestResults/
*.log

# Ignorera CMake's byggmapp
build/

# Ignorera Mac-specifika skräpfiler
.DS_Store

# Ignorera eventuella lokala VS Code-inställningar
.vscode/